@inherits LayoutComponentBase

<div class="page">
  
    <main>
        <article class="content px-4">
            @Body
            <footer class="mt-5">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center small text-muted py-3">
                    <div>
                        🚀 Dibuat dengan ❤️ oleh <strong>ganiputras</strong> · &copy; 2025
                    </div>
                    <div>
                        🔗 <a href="https://github.com/ganiputras/Blazor.NumberInput" target="_blank" rel="noopener noreferrer">
                            GitHub Repository
                        </a> | 📄 <a href="https://choosealicense.com/licenses/mit/" target="_blank" rel="noopener noreferrer">
                            MIT License
                        </a>
                    </div>
                </div>
            </div>
            </footer>

        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
