@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>




<div class="my-5"></div>

<div class="card shadow-sm mb-4">

    <div class="card-body">
        <DokumentasiFitur />
    </div>
</div>

<div class="card shadow-sm mb-5">

    <div class="card-body">
        <DokumentasiParameter />
    </div>
</div>
<div class="card shadow-sm mb-5">

    <div class="card-body">
        <DokumentasiCompare />
    </div>
</div>
<h1 class="text-primary mb-4">🔢 Komponen <code>NumberInput</code> - Showcase & Dokumentasi</h1>
<div class="row g-4">
    <Example11></Example11>
</div>
<div class="row g-4">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white fw-semibold">
                💡 Contoh Penggunaan (Part 1)
            </div>
            <div class="card-body">
                <div class="mb-4"><Example1 /></div>
                <div class="mb-4"><Example2 /></div>
                <div class="mb-4"><Example3 /></div>
                <div class="mb-4"><Example4 /></div>
                <div><Example5 /></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header bg-success text-white fw-semibold">
                💡 Contoh Penggunaan (Part 2)
            </div>
            <div class="card-body">
                <div class="mb-4"><Example6 /></div>
                <div class="mb-4"><Example7 /></div>
                <div class="mb-4"><Example8 /></div>
                <div class="mb-4"><Example9 /></div>
                <div><Example10 /></div>
            </div>
        </div>
    </div>
</div>


@code {
}